#time{

border:3px solid white;
width:100px;
color:white;
padding:10px;
margin:15px;

}


#Table{

        padding: 10px;
        width:100%;
        background-color:none;
        color: FFF;
}
#livesleft{

border:3px solid white;
padding: 10px;


}

#authors{

border:3px solid white;
padding: 10px;


}

canvas {
	width: 100%;
	height: 100%;
}

body {
	background-image:url('Textures/space-fantasy-wallpaper2.jpg');
	background-size: %;
	border:3px solid white;
	font-family: 'Black Ops One', cursive;


}
